.DS_Store
latc-platform/console/target
latc-platform/console/deprec
latc-platform/console/log
latc-platform/console/.classpath
latc-platform/console/.externalToolBuilders
latc-platform/console/.project
latc-platform/console/.settings
latc-platform/console/.pydevproject
latc-platform/console/target
latc-platform/console/.classpath
latc-platform/console/.project
latc-platform/console/.settings
latc-platform/console/bin
latc-platform/runtime/trunk/src/com/deri/latc/utility/test.java
latc-platform/runtime/trunk/src/com/deri/latc/utility/PostReport.java
latc-platform/runtime/trunk/report2011-03-10\.csv
latc-platform/runtime/trunk/myreport.csv
latc-platform/runtime/trunk/bin
linksets/.project
linksets/.pydevproject
/link-specifications/dbpedia-geonames-school/spec.xml
/link-specifications/dbpedia-gutendata-person/links.nt
/link-specifications/dbpedia-gutendata-person/negative.nt
/link-specifications/dbpedia-linkedct-city/links.nt
/link-specifications/dbpedia-linkedct-city/negative.nt
/link-specifications/dbpedia-linkedct-city/positive.nt
/link-specifications/dbpedia-linkedct-city/README.txt
/link-specifications/dbpedia-linkedct-city/spec.xml
/link-specifications/dbpedia-linkedct-condition/links.nt
/link-specifications/dbpedia-linkedct-condition/negative.nt
/link-specifications/dbpedia-linkedct-condition/positive.nt
/link-specifications/dbpedia-linkedct-condition/README.txt
/link-specifications/dbpedia-linkedct-condition/spec.xml
/link-specifications/dbpedia-linkedct-country/links.nt
/link-specifications/dbpedia-linkedct-country/negative.nt
/link-specifications/dbpedia-linkedct-country/positive.nt
/link-specifications/dbpedia-linkedct-country/README.txt
/link-specifications/dbpedia-linkedct-country/spec.xml
/link-specifications/dbpedia-linkedct-intervention/links.nt
/link-specifications/dbpedia-linkedct-intervention/negative.nt
/link-specifications/dbpedia-linkedct-intervention/positive.nt
/link-specifications/dbpedia-linkedct-intervention/README.txt
/link-specifications/dbpedia-linkedct-intervention/spec.xml
/link-specifications/dbpedia-linkedct-keyword/links.nt
/link-specifications/dbpedia-linkedct-keyword/negative.nt
/link-specifications/dbpedia-linkedct-keyword/positive.nt
/link-specifications/dbpedia-linkedct-keyword/README.txt
/link-specifications/dbpedia-linkedct-keyword/spec.xml
/link-specifications/dbpedia-linkedct-sponsor/links.nt
/link-specifications/dbpedia-linkedct-sponsor/negative.nt
/link-specifications/dbpedia-linkedct-sponsor/positive.nt
/link-specifications/dbpedia-linkedct-sponsor/README.txt
/link-specifications/dbpedia-linkedct-sponsor/spec.xml
/link-specifications/dbpedia-linkedct-state/links.nt
/link-specifications/dbpedia-linkedct-state/negative.nt
/link-specifications/dbpedia-linkedct-state/positive.nt
/link-specifications/dbpedia-linkedct-state/README.txt
/link-specifications/dbpedia-linkedct-state/spec.xml
/link-specifications/dbpedia-openei-country/links.nt
/link-specifications/dbpedia-openei-country/negative.nt
/link-specifications/dbpedia-openei-country/positive.nt
/link-specifications/dbpedia-openei-country/README.txt
/link-specifications/dbpedia-openei-country/spec.xml
/link-specifications/dbpedia-openei-organisation/links.nt
/link-specifications/dbpedia-openei-organisation/negative.nt
/link-specifications/dbpedia-openei-organisation/positive.nt
/link-specifications/dbpedia-openei-organisation/spec.xml
/link-specifications/dbpedia-openei-organisation/still_needs_improvement.txt
/link-specifications/dbpedia-openei-places/links.nt
/link-specifications/dbpedia-openei-places/negative.nt
/link-specifications/dbpedia-openei-places/positive.nt
/link-specifications/dbpedia-openei-places/README.txt
/link-specifications/dbpedia-openei-places/spec.xml
/link-specifications/gho-linkedct-country/intervals/0.1-0.15/0.1-0.15000000000000002.nt
/link-specifications/gho-linkedct-country/intervals/0.1-0.15/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.1-0.15/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.1-0.15/README.txt
/link-specifications/gho-linkedct-country/intervals/0.1-0.15/unsure.nt
/link-specifications/gho-linkedct-country/intervals/0.15-0.2/0.15000000000000002-0.2.nt
/link-specifications/gho-linkedct-country/intervals/0.15-0.2/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.15-0.2/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.15-0.2/README.txt
/link-specifications/gho-linkedct-country/intervals/0.15-0.2/unsure.nt
/link-specifications/gho-linkedct-country/intervals/0.3-0.35/0.3-0.35000000000000003.nt
/link-specifications/gho-linkedct-country/intervals/0.3-0.35/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.3-0.35/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.3-0.35/README.txt
/link-specifications/gho-linkedct-country/intervals/0.3-0.35/unsure.nt
/link-specifications/gho-linkedct-country/intervals/0.35-0.4/0.35000000000000003-0.4.nt
/link-specifications/gho-linkedct-country/intervals/0.35-0.4/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.35-0.4/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.35-0.4/README.txt
/link-specifications/gho-linkedct-country/intervals/0.35-0.4/unsure.nt
/link-specifications/gho-linkedct-country/intervals/0.55-0.6/0.55-0.6000000000000001.nt
/link-specifications/gho-linkedct-country/intervals/0.55-0.6/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.55-0.6/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.55-0.6/README.txt
/link-specifications/gho-linkedct-country/intervals/0.55-0.6/unsure.nt
/link-specifications/gho-linkedct-country/intervals/0.6-0.65/0.6000000000000001-0.6500000000000001.nt
/link-specifications/gho-linkedct-country/intervals/0.6-0.65/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.6-0.65/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.6-0.65/README.txt
/link-specifications/gho-linkedct-country/intervals/0.6-0.65/unsure.nt
/link-specifications/gho-linkedct-country/intervals/0.65-0.7/0.6500000000000001-0.7000000000000001.nt
/link-specifications/gho-linkedct-country/intervals/0.65-0.7/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.65-0.7/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.65-0.7/README.txt
/link-specifications/gho-linkedct-country/intervals/0.65-0.7/unsure.nt
/link-specifications/gho-linkedct-country/intervals/0.7-0.75/0.7000000000000001-0.7500000000000001.nt
/link-specifications/gho-linkedct-country/intervals/0.75-0.8/0.7500000000000001-0.8.nt
/link-specifications/gho-linkedct-country/intervals/0.75-0.8/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.75-0.8/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.75-0.8/README.txt
/link-specifications/gho-linkedct-country/intervals/0.75-0.8/unsure.nt
/link-specifications/gho-linkedct-country/intervals/0.8-0.85/0.8-0.8500000000000001.nt
/link-specifications/gho-linkedct-country/intervals/0.8-0.85/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.8-0.85/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.8-0.85/README.txt
/link-specifications/gho-linkedct-country/intervals/0.8-0.85/unsure.nt
/link-specifications/gho-linkedct-country/intervals/0.85-0.9/0.8500000000000001-0.9000000000000001.nt
/link-specifications/gho-linkedct-country/intervals/0.85-0.9/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.85-0.9/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.85-0.9/README.txt
/link-specifications/gho-linkedct-country/intervals/0.85-0.9/unsure.nt
/link-specifications/gho-linkedct-country/intervals/0.9-0.95/0.9000000000000001-0.9500000000000001.nt
/link-specifications/gho-linkedct-country/intervals/0.9-0.95/negative.nt
/link-specifications/gho-linkedct-country/intervals/0.9-0.95/positive.nt
/link-specifications/gho-linkedct-country/intervals/0.9-0.95/README.txt
/link-specifications/gho-linkedct-country/intervals/0.9-0.95/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.05-0.1/0.05-0.1.nt
/link-specifications/gho-linkedct-disease/intervals/0.05-0.1/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.05-0.1/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.05-0.1/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.05-0.1/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.1-0.15/0.1-0.15.nt
/link-specifications/gho-linkedct-disease/intervals/0.1-0.15/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.1-0.15/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.1-0.15/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.1-0.15/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.15-0.2/0.15-0.2.nt
/link-specifications/gho-linkedct-disease/intervals/0.15-0.2/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.15-0.2/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.15-0.2/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.15-0.2/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.2-0.25/0.2-0.25.nt
/link-specifications/gho-linkedct-disease/intervals/0.2-0.25/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.2-0.25/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.2-0.25/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.2-0.25/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.25-0.3/0.25-0.3.nt
/link-specifications/gho-linkedct-disease/intervals/0.25-0.3/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.25-0.3/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.25-0.3/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.25-0.3/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.3-0.35/0.3-0.35.nt
/link-specifications/gho-linkedct-disease/intervals/0.3-0.35/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.3-0.35/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.3-0.35/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.3-0.35/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.35-0.4/0.35-0.4.nt
/link-specifications/gho-linkedct-disease/intervals/0.35-0.4/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.35-0.4/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.35-0.4/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.35-0.4/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.4-0.45/0.4-0.45.nt
/link-specifications/gho-linkedct-disease/intervals/0.4-0.45/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.4-0.45/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.4-0.45/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.4-0.45/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.45-0.5/0.45-0.5.nt
/link-specifications/gho-linkedct-disease/intervals/0.5-0.55/0.5-0.55.nt
/link-specifications/gho-linkedct-disease/intervals/0.5-0.55/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.5-0.55/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.5-0.55/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.5-0.55/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.55-0.6/0.55-0.6.nt
/link-specifications/gho-linkedct-disease/intervals/0.55-0.6/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.55-0.6/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.55-0.6/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.55-0.6/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.6-0.65/0.6-0.65.nt
/link-specifications/gho-linkedct-disease/intervals/0.6-0.65/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.6-0.65/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.6-0.65/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.6-0.65/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.65-0.7/0.65-0.7.nt
/link-specifications/gho-linkedct-disease/intervals/0.65-0.7/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.65-0.7/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.65-0.7/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.65-0.7/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.7-0.75/0.7-0.75.nt
/link-specifications/gho-linkedct-disease/intervals/0.7-0.75/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.7-0.75/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.7-0.75/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.7-0.75/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.75-0.8/0.75-0.8.nt
/link-specifications/gho-linkedct-disease/intervals/0.75-0.8/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.75-0.8/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.75-0.8/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.75-0.8/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.8-0.85/0.8-0.85.nt
/link-specifications/gho-linkedct-disease/intervals/0.8-0.85/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.8-0.85/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.8-0.85/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.8-0.85/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.85-0.9/0.85-0.9.nt
/link-specifications/gho-linkedct-disease/intervals/0.85-0.9/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.85-0.9/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.85-0.9/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.85-0.9/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.9-0.95/0.9-0.95.nt
/link-specifications/gho-linkedct-disease/intervals/0.9-0.95/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.9-0.95/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.9-0.95/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.9-0.95/unsure.nt
/link-specifications/gho-linkedct-disease/intervals/0.95-1/0.95-1.nt
/link-specifications/gho-linkedct-disease/intervals/0.95-1/negative.nt
/link-specifications/gho-linkedct-disease/intervals/0.95-1/positive.nt
/link-specifications/gho-linkedct-disease/intervals/0.95-1/README.txt
/link-specifications/gho-linkedct-disease/intervals/0.95-1/unsure.nt
/link-specifications/gho-linkedct-disease/spec.xml
/link-specifications/gho-pubmed-country/intervals/0.1-0.15/0.1-0.15000000000000002.nt
/link-specifications/gho-pubmed-country/intervals/0.1-0.15/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.1-0.15/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.1-0.15/README.txt
/link-specifications/gho-pubmed-country/intervals/0.1-0.15/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.15-0.2/0.15000000000000002-0.2.nt
/link-specifications/gho-pubmed-country/intervals/0.15-0.2/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.15-0.2/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.15-0.2/README.txt
/link-specifications/gho-pubmed-country/intervals/0.15-0.2/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.3-0.35/0.3-0.35000000000000003.nt
/link-specifications/gho-pubmed-country/intervals/0.3-0.35/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.3-0.35/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.3-0.35/README.txt
/link-specifications/gho-pubmed-country/intervals/0.3-0.35/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.35-0.4/0.35000000000000003-0.4.nt
/link-specifications/gho-pubmed-country/intervals/0.35-0.4/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.35-0.4/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.35-0.4/README.txt
/link-specifications/gho-pubmed-country/intervals/0.35-0.4/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.55-0.6/0.55-0.6000000000000001.nt
/link-specifications/gho-pubmed-country/intervals/0.55-0.6/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.55-0.6/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.55-0.6/README.txt
/link-specifications/gho-pubmed-country/intervals/0.55-0.6/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.6-0.65/0.6000000000000001-0.6500000000000001.nt
/link-specifications/gho-pubmed-country/intervals/0.6-0.65/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.6-0.65/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.6-0.65/README.txt
/link-specifications/gho-pubmed-country/intervals/0.6-0.65/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.65-0.7/0.6500000000000001-0.7000000000000001.nt
/link-specifications/gho-pubmed-country/intervals/0.65-0.7/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.65-0.7/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.65-0.7/README.txt
/link-specifications/gho-pubmed-country/intervals/0.65-0.7/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.7-0.75/0.7000000000000001-0.7500000000000001.nt
/link-specifications/gho-pubmed-country/intervals/0.7-0.75/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.7-0.75/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.7-0.75/README.txt
/link-specifications/gho-pubmed-country/intervals/0.7-0.75/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.75-0.8/0.7500000000000001-0.8.nt
/link-specifications/gho-pubmed-country/intervals/0.75-0.8/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.75-0.8/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.75-0.8/README.txt
/link-specifications/gho-pubmed-country/intervals/0.75-0.8/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.8-0.85/0.8-0.8500000000000001.nt
/link-specifications/gho-pubmed-country/intervals/0.8-0.85/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.8-0.85/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.8-0.85/README.txt
/link-specifications/gho-pubmed-country/intervals/0.8-0.85/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.85-0.9/0.8500000000000001-0.9000000000000001.nt
/link-specifications/gho-pubmed-country/intervals/0.85-0.9/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.85-0.9/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.85-0.9/README.txt
/link-specifications/gho-pubmed-country/intervals/0.85-0.9/unsure.nt
/link-specifications/gho-pubmed-country/intervals/0.9-0.95/0.9000000000000001-0.9500000000000001.nt
/link-specifications/gho-pubmed-country/intervals/0.9-0.95/negative.nt
/link-specifications/gho-pubmed-country/intervals/0.9-0.95/positive.nt
/link-specifications/gho-pubmed-country/intervals/0.9-0.95/README.txt
/link-specifications/gho-pubmed-country/intervals/0.9-0.95/unsure.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.7,0.75)/[0.7,0.75).nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.7,0.75)/negative.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.7,0.75)/positive.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.7,0.75)/README.txt
/link-specifications/linkedct-pubmed-disease/intervals/[0.7,0.75)/unsure.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.75,0.8)/[0.75,0.8).nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.75,0.8)/negative.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.75,0.8)/positive.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.75,0.8)/README.txt
/link-specifications/linkedct-pubmed-disease/intervals/[0.75,0.8)/unsure.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.8,0.85)/[0.8,0.85).nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.8,0.85)/negative.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.8,0.85)/positive.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.8,0.85)/README.txt
/link-specifications/linkedct-pubmed-disease/intervals/[0.8,0.85)/unsure.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.85,0.9)/[0.85,0.9).nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.85,0.9)/negative.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.85,0.9)/positive.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.85,0.9)/README.txt
/link-specifications/linkedct-pubmed-disease/intervals/[0.85,0.9)/unsure.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.9,0.95)/[0.9,0.95).nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.9,0.95)/negative.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.9,0.95)/positive.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.9,0.95)/README.txt
/link-specifications/linkedct-pubmed-disease/intervals/[0.9,0.95)/unsure.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.95,1)/[0.95,1).nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.95,1)/negative.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.95,1)/positive.nt
/link-specifications/linkedct-pubmed-disease/intervals/[0.95,1)/README.txt
/link-specifications/linkedct-pubmed-disease/intervals/[0.95,1)/unsure.nt
/link-specifications/linkedct-pubmed-disease/intervals/1/1.nt
/link-specifications/linkedct-pubmed-disease/links.nt
/link-specifications/linkedct-pubmed-disease/README.txt
/link-specifications/linkedct-pubmed-disease/spec.xml
/latc-platform/console/bin/eu/latc/console/MainApplication.class
/latc-platform/console/bin/eu/latc/console/ObjectManager.class
/latc-platform/console/bin/eu/latc/console/objects/Notification.class
/latc-platform/console/bin/eu/latc/console/objects/Task.class
/latc-platform/console/bin/eu/latc/console/resource/APIKeyResource.class
/latc-platform/console/bin/eu/latc/console/resource/ConsoleResource.class
/latc-platform/console/bin/eu/latc/console/resource/NotificationsResource.class
/latc-platform/console/bin/eu/latc/console/resource/StatisticsResource.class
/latc-platform/console/bin/eu/latc/console/resource/TaskConfigurationResource.class
/latc-platform/console/bin/eu/latc/console/resource/TaskNotificationsResource.class
/latc-platform/console/bin/eu/latc/console/resource/TaskResource.class
/latc-platform/console/bin/eu/latc/console/resource/TasksResource.class
/latc-platform/console/bin/eu/latc/misc/DateToXSDateTime.class
/latc-platform/console/bin/eu/latc/misc/MailSender.class
/latc-platform/console/bin/eu/latc/misc/PostReport.class
/latc-platform/console/bin/eu/latc/misc/PostTask.class
/latc-platform/console/bin/eu/latc/misc/TestMail.class
/latc-platform/console/bin/eu/latc/misc/XoauthAuthenticator.class
/latc-platform/console/bin/eu/latc/misc/XoauthAuthenticator$XoauthProvider.class
