.DS_Store
latc-platform/console/target
latc-platform/console/deprec
latc-platform/console/log
latc-platform/console/.classpath
latc-platform/console/.externalToolBuilders
latc-platform/console/.pydevproject
latc-platform/console/.classpath
latc-platform/console/.project
latc-platform/console/.settings
latc-platform/console/bin
latc-platform/console/target
latc-platform/runtime/trunk/src/com/deri/latc/utility/test.java
latc-platform/runtime/trunk/src/com/deri/latc/utility/PostReport.java
latc-platform/runtime/trunk/report2011-03-10\.csv
latc-platform/runtime/trunk/myreport.csv
latc-platform/runtime/trunk/bin
link-specifications/.project
link-specifications/.pydevproject

latc-platform/linker-webapp/target/
latc-platform/linker-webapp/.classpath
latc-platform/linker-webapp/.project
latc-platform/linker-webapp/.settings/
latc-platform/linker-webapp/src/main/resources/META-INF/spring/database.properties

latc-platform/linker-webapp/src/main/resources/META-INF/spring/email.properties

latc-platform/linker-webapp/src/test/resources/META-INF/spring-test/email.properties
