
RewriteEngine On
RewriteRule ^graphs graphs-service.php [L,QSA]
RewriteRule ^links/describer describer-service.php [L,QSA]
RewriteRule ^links/sparql http://kwijibo.talis.com/latc-linksets/sparql [L,QSA]
