
RewriteEngine On
RewriteRule ^graphs graphs-service.php [L,QSA]
RewriteRule ^vocab documents/dsi.vocab.ttl [L,QSA]
RewriteRule ^links/describer describer-service.php [L,QSA]
RewriteRule ^datasets/linkset-suggester linktarget-suggester-service.php [L,QSA]
RewriteRule ^datasets/dataset-finder dataset-finder-service.php [L,QSA]
