HADOOP_PATH = hadoop-0.20.2
HADOOP_USER = nurgun
LATC_CONSOLE_HOST = http://latc-console.few.vu.nl/
LINKS_FILE_STORE  = links.nt
RESULTS_HOST = http://demo.sindice.net/latctemp
RESULT_LOCAL_DIR = results
SPEC_FILE = spec.xml
VOID_FILE = void.ttl 
API_KEY_CONSOLE = aa4967eb8b7a5ccab7dbb57aa2368c7f
API_KEY_MDS = 7cf8f3c95e1c296f9b186c928c0ee88b
MDS_HOST = http://mds.lod-cloud.net/graphs